<h2>FORMS</h2>

<form [formGroup]="sampleForm">
  <ui-form-field>
    <ui-form-label>nome completo</ui-form-label>
    <input uiFormInput type="text" formControlName="nomeCompleto" autocomplete="off" />
  </ui-form-field>

  <ui-form-field>
    <ui-form-label>data de nascimento</ui-form-label>
    <input uiFormInput type="date" formControlName="dataNascimento" autocomplete="off" />
  </ui-form-field>

  <ui-form-field>
    <ui-form-label>email</ui-form-label>
    <input uiFormInput type="email" formControlName="email" autocomplete="off" />
  </ui-form-field>

  <ui-form-field>
    <ui-form-label>número aleatório</ui-form-label>
    <input uiFormInput type="number" formControlName="numeroAleatorio" autocomplete="off" />
  </ui-form-field>

  <div style="margin-top: 25px">
    <ui-button (clickEvent)="doAction()" [enabled]="sampleForm.valid">Action</ui-button>
  </div>
</form>
