$spacing: 10px;

:host {
  display: flex;
  flex-direction: column;
  margin-top: $spacing;

  &:first-child {
    margin-top: 0;
  }

  &.ng-pristine {
    border: 1px solid cyan;
  }

  &.ng-invalid {
    border: 1px solid red;
  }

  &.ng-touched {
    border: 1px solid orange;
  }

  &.ng-valid,
  &.ng-valid.ng-touched {
    border: 1px solid blue;
  }

  &.ng-pristine.ng-untouched,
  &.ng-pristine.ng-untouched.ng-invalid {
    border: 1px solid white;
  }
}
